!!! 5
html
	head
		title Node.js Login
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
- user = typeof(udata) != 'undefined' ? udata : { }
- spacestate = typeof(space) != 'undefined' ? space : { }
	script.
		state = !{JSON.stringify(spacestate)}
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='#').brand Compaxion
						if spacestate.status == 'Open'
							|  - Space is open!
						else if spacestate.status == 'Closed'
							|  - Space is closed.
						else
							|  - Space is in UNKNOWN state
				if user.user
					button#btn-logout.btn.btn-primary
						i.icon-lock.icon-white
						| Sign Out
	block content
	block scripts