[submodule "api/epiphany"]
	path = api/epiphany
	url = https://github.com/iMartyn/epiphany.git
[submodule "submodules/phpMQTT"]
	path = submodules/phpMQTT
	url = https://github.com/bluerhinos/phpMQTT.git
