[submodule "submodules/phpMQTT"]
	path = submodules/phpMQTT
	url = https://github.com/bluerhinos/phpMQTT.git
[submodule "api/epiphany"]
	path = api/epiphany
	url = git@github.com:iMartyn/epiphany.git
[submodule "submodules/slim"]
	path = submodules/slim
	url = https://github.com/codeguy/Slim.git
